html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
details,
section,
summary,
aside,
main,
menu,
nav,
figcaption,
figure,
footer,
header,
hgroup {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
b,
strong {
  font-weight: bold;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type='checkbox'],
input[type='radio'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}
input[type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 2.8rem;
  font-weight: regular;
}
h3 {
  font-size: 1.8rem;
  font-weight: lighter;
}
h4 {
  font-size: 1.4rem;
  font-weight: lighter;
}
h5 {
  font-size: 1.4rem;
  font-weight: lighter;
}
h6 {
  font-size: 1.4rem;
  font-weight: lighter;
}
p {
  font-size: 1.4rem;
  color: #737373;
}
.serif {
  font-family: "Garamond", "Georgia", "Times New Roman", serif;
}
html {
  font-size: 62.5%;
}
.cat {
  font-family: "Helvetica Neue", "Helvetica", "WenQuanYi Micro Hei", "Microsoft YaHei", Arial, sans-serif;
  color: #404040;
  background: #eee;
}
.cat .cent {
  text-align: center;
  margin: auto;
}
.cat .main {
  margin-top: 100px;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.cat h1,
.cat h2,
.cat h3,
.cat h4,
.cat h5,
.cat h6 {
  margin: 0;
}
.cat h1 {
  font-size: 3.6rem;
}
.cat h2 {
  font-size: 2.8rem;
  font-weight: regular;
}
.cat h3 {
  font-size: 1.8rem;
  font-weight: lighter;
}
.cat h4 {
  font-size: 1.4rem;
  font-weight: lighter;
}
.cat h5 {
  font-size: 1.4rem;
  font-weight: lighter;
}
.cat h6 {
  font-size: 1.4rem;
  font-weight: lighter;
}
.cat p {
  font-size: 1.4rem;
  color: #737373;
}
.cat .serif {
  font-family: "Garamond", "Georgia", "Times New Roman", serif;
}
@font-face {
  font-family: 'caticon';
  src: url("../font/caticons.woff") format('woff');
  src: url("../font/caticons.woff") format('woff'), url("../font/caticons.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.cat [class^="icon-"],
.cat [class*=" icon-"] {
  font-family: caticon;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: 0.3em;
}
.cat .icon-margin {
  margin-left: 1.5%;
  margin-right: 1.5%;
}
.cat [class^="icon-"]:before,
.cat [class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}
.cat .icon-large:before {
  vertical-align: -10%;
  font-size: 1.333333333333333em;
}
.cat a [class^="icon-"],
.cat a [class*=" icon-"] {
  display: inline;
}
.cat [class^="icon-"].icon-fixed-width,
.cat [class*=" icon-"].icon-fixed-width {
  display: inline-block;
  width: 1.142857142857143em;
  text-align: right;
  padding-right: 0.285714285714286em;
}
.cat [class^="icon-"].icon-fixed-width.icon-large,
.cat [class*=" icon-"].icon-fixed-width.icon-large {
  width: 1.428571428571429em;
}
.cat .icons-ul {
  margin-left: 2.142857142857143em;
  list-style-type: none;
}
.cat .icons-ul>li {
  position: relative;
}
.cat .icons-ul .icon-li {
  position: absolute;
  left: -2.142857142857143em;
  width: 2.142857142857143em;
  text-align: center;
  line-height: inherit;
}
.cat [class^="icon-"].hide,
.cat [class*=" icon-"].hide {
  display: none;
}
.cat .icon-muted {
  color: #eee;
}
.cat .icon-light {
  color: #fff;
}
.cat .icon-dark {
  color: #333;
}
.cat .icon-border {
  border: solid 1px #eee;
  padding: 0.2em 0.25em 0.15em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.cat .icon-2x {
  font-size: 2em;
}
.cat .icon-2x.icon-border {
  border-width: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.cat .icon-3x {
  font-size: 3em;
}
.cat .icon-3x.icon-border {
  border-width: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.cat .icon-4x {
  font-size: 4em;
}
.cat .icon-4x.icon-border {
  border-width: 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.cat .icon-5x {
  font-size: 5em;
}
.cat .icon-5x.icon-border {
  border-width: 5px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
.cat .pull-right {
  float: right;
}
.cat .pull-left {
  float: left;
}
.cat [class^="icon-"].pull-left,
.cat [class*=" icon-"].pull-left {
  margin-right: 0.3em;
}
.cat [class^="icon-"].pull-right,
.cat [class*=" icon-"].pull-right {
  margin-left: 0.3em;
}
.cat [class^="icon-"],
.cat [class*=" icon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}
.cat .icon-white,
.cat .nav-pills>.active>a>[class^="icon-"],
.cat .nav-pills>.active>a>[class*=" icon-"],
.cat .nav-list>.active>a>[class^="icon-"],
.cat .nav-list>.active>a>[class*=" icon-"],
.cat .navbar-inverse .nav>.active>a>[class^="icon-"],
.cat .navbar-inverse .nav>.active>a>[class*=" icon-"],
.cat .dropdown-menu>li>a:hover>[class^="icon-"],
.cat .dropdown-menu>li>a:hover>[class*=" icon-"],
.cat .dropdown-menu>.active>a>[class^="icon-"],
.cat .dropdown-menu>.active>a>[class*=" icon-"],
.cat .dropdown-submenu:hover>a>[class^="icon-"],
.cat .dropdown-submenu:hover>a>[class*=" icon-"] {
  background-image: none;
}
.cat .btn [class^="icon-"].icon-large,
.cat .nav [class^="icon-"].icon-large,
.cat .btn [class*=" icon-"].icon-large,
.cat .nav [class*=" icon-"].icon-large {
  line-height: 0.9em;
}
.cat .btn [class^="icon-"].icon-spin,
.cat .nav [class^="icon-"].icon-spin,
.cat .btn [class*=" icon-"].icon-spin,
.cat .nav [class*=" icon-"].icon-spin {
  display: inline-block;
}
.cat .nav-tabs [class^="icon-"],
.cat .nav-pills [class^="icon-"],
.cat .nav-tabs [class*=" icon-"],
.cat .nav-pills [class*=" icon-"],
.cat .nav-tabs [class^="icon-"].icon-large,
.cat .nav-pills [class^="icon-"].icon-large,
.cat .nav-tabs [class*=" icon-"].icon-large,
.cat .nav-pills [class*=" icon-"].icon-large {
  line-height: 0.9em;
}
.cat .btn [class^="icon-"].pull-left.icon-2x,
.cat .btn [class*=" icon-"].pull-left.icon-2x,
.cat .btn [class^="icon-"].pull-right.icon-2x,
.cat .btn [class*=" icon-"].pull-right.icon-2x {
  margin-top: 0.18em;
}
.cat .btn [class^="icon-"].icon-spin.icon-large,
.cat .btn [class*=" icon-"].icon-spin.icon-large {
  line-height: 0.8em;
}
.cat .btn.btn-small [class^="icon-"].pull-left.icon-2x,
.cat .btn.btn-small [class*=" icon-"].pull-left.icon-2x,
.cat .btn.btn-small [class^="icon-"].pull-right.icon-2x,
.cat .btn.btn-small [class*=" icon-"].pull-right.icon-2x {
  margin-top: 0.25em;
}
.cat .btn.btn-large [class^="icon-"],
.cat .btn.btn-large [class*=" icon-"] {
  margin-top: 0;
}
.cat .btn.btn-large [class^="icon-"].pull-left.icon-2x,
.cat .btn.btn-large [class*=" icon-"].pull-left.icon-2x,
.cat .btn.btn-large [class^="icon-"].pull-right.icon-2x,
.cat .btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  margin-top: 0.05em;
}
.cat .btn.btn-large [class^="icon-"].pull-left.icon-2x,
.cat .btn.btn-large [class*=" icon-"].pull-left.icon-2x {
  margin-right: 0.2em;
}
.cat .btn.btn-large [class^="icon-"].pull-right.icon-2x,
.cat .btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  margin-left: 0.2em;
}
.cat .nav-list [class^="icon-"],
.cat .nav-list [class*=" icon-"] {
  line-height: inherit;
}
.cat .icon-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: -35%;
}
.cat .icon-stack [class^="icon-"],
.cat .icon-stack [class*=" icon-"] {
  display: block;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 1em;
  line-height: inherit;
  *line-height: 2em;
}
.cat .icon-stack .icon-stack-base {
  font-size: 2em;
  *line-height: 1em;
}
.cat .icon-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -ms-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
.cat a .icon-stack,
.cat a .icon-spin {
  display: inline-block;
  text-decoration: none;
}
@import 'icon-rotate.css';
.cat .icon-flip-horizontal:before {
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.cat .icon-flip-vertical:before {
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
.cat a .icon-rotate-90:before,
.cat a .icon-rotate-180:before,
.cat a .icon-rotate-270:before,
.cat a .icon-flip-horizontal:before,
.cat a .icon-flip-vertical:before {
  display: inline-block;
}
.cat .icon-article:before {
  content: "\f90b";
}
.cat .icon-notification:before {
  content: "\f901";
}
.cat .icon-special:before {
  content: "\f902";
}
.cat .icon-zhihu:before {
  content: "\f903";
}
.cat .icon-vote:before {
  content: "\f904";
}
.cat .icon-picture:before {
  content: "\f905";
}
.cat .icon-weibo:before {
  content: "\f906";
}
.cat .icon-phone:before {
  content: "\f907";
}
.cat .icon-location:before {
  content: "\f908";
}
.cat .icon-email:before {
  content: "\f909";
}
.cat .icon-chahu:before {
  content: "\f31e";
}
.cat .icon-weihnu:before {
  content: "\f31f";
}
.cat .icon-hnu:before {
  content: "\f320";
}
.cat .icon-hndx:before {
  content: "\f321";
}
.cat .icon-qian:before {
  content: "\f322";
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-moz-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-moz-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-moz-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@-moz-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.cat .cat-g {
  letter-spacing: -0.31em;
  *letter-spacing: normal;
}
.cat .col-1,
.cat .col-1-1,
.cat .col-1-2,
.cat .col-1-3,
.cat .col-2-3,
.cat .col-1-4,
.cat .col-3-4,
.cat .col-1-6,
.cat .col-5-6,
.cat .col-1-8,
.cat .col-3-8,
.cat .col-5-8,
.cat .col-7-8,
.cat .col-1-12,
.cat .col-5-12,
.cat .col-7-12,
.cat .col-11-12,
.cat .col-1-24,
.cat .col-2-24,
.cat .col-3-24,
.cat .col-4-24,
.cat .col-5-24,
.cat .col-6-24,
.cat .col-7-24,
.cat .col-8-24,
.cat .col-9-24,
.cat .col-10-24,
.cat .col-11-24,
.cat .col-12-24,
.cat .col-13-24,
.cat .col-14-24,
.cat .col-15-24,
.cat .col-16-24,
.cat .col-17-24,
.cat .col-18-24,
.cat .col-19-24,
.cat .col-20-24,
.cat .col-21-24,
.cat .col-22-24,
.cat .col-23-24,
.cat .col-24-24 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}
.cat .col-1-24 {
  width: 4.1667%;
  *width: 4.1357%;
}
.cat .col-1-12,
.cat .col-2-24 {
  width: 8.3333%;
  *width: 8.3023%;
}
.cat .col-1-8,
.cat .col-3-24 {
  width: 12.5%;
  *width: 12.469%;
}
.cat .col-1-6,
.cat .col-4-24 {
  width: 16.6667%;
  *width: 16.6357%;
}
.cat .col-5-24 {
  width: 20.8333%;
  *width: 20.8023%;
}
.cat .col-1-4,
.cat .col-6-24 {
  width: 25%;
  *width: 24.969%;
}
.cat .col-7-24 {
  width: 29.1667%;
  *width: 29.1357%;
}
.cat .col-1-3,
.cat .col-8-24 {
  width: 33.3333%;
  *width: 33.3023%;
}
.cat .col-3-8,
.cat .col-9-24 {
  width: 37.5%;
  *width: 37.469%;
}
.cat .col-5-12,
.cat .col-10-24 {
  width: 41.6667%;
  *width: 41.6357%;
}
.cat .col-11-24 {
  width: 45.8333%;
  *width: 45.8023%;
}
.cat .col-1-2,
.cat .col-12-24 {
  width: 50%;
  *width: 49.969%;
}
.cat .col-13-24 {
  width: 54.1667%;
  *width: 54.1357%;
}
.cat .col-7-12,
.cat .col-14-24 {
  width: 58.3333%;
  *width: 58.3023%;
}
.cat .col-5-8,
.cat .col-15-24 {
  width: 62.5%;
  *width: 62.469%;
}
.cat .col-2-3,
.cat .col-16-24 {
  width: 66.6667%;
  *width: 66.6357%;
}
.cat .col-17-24 {
  width: 70.8333%;
  *width: 70.8023%;
}
.cat .col-3-4,
.cat .col-18-24 {
  width: 75%;
  *width: 74.969%;
}
.cat .col-19-24 {
  width: 79.1667%;
  *width: 79.1357%;
}
.cat .col-5-6,
.cat .col-20-24 {
  width: 83.3333%;
  *width: 83.3023%;
}
.cat .col-7-8,
.cat .col-21-24 {
  width: 87.5%;
  *width: 87.469%;
}
.cat .col-11-12,
.cat .col-22-24 {
  width: 91.6667%;
  *width: 91.6357%;
}
.cat .col-23-24 {
  width: 95.8333%;
  *width: 95.8023%;
}
.cat .col-1,
.cat .col-1-1,
.cat .col-24-24 {
  width: 100%;
}
.cat .col-offset-1-2 {
  margin-left: 50%;
  *margin-left: 49.969%;
}
.cat .col-offset-1-3 {
  margin-left: 33.3333%;
  *margin-left: 33.3023%;
}
.cat .col-offset-2-3 {
  margin-left: 66.6667%;
  *margin-left: 66.6357%;
}
.cat .col-offset-1-4 {
  margin-left: 25%;
  *margin-left: 24.969%;
}
.cat .col-offset-3-4 {
  margin-left: 75%;
  *margin-left: 74.969%;
}
.cat .col-offset-1-5 {
  margin-left: 20%;
  *margin-left: 19.969%;
}
.cat .col-offset-2-5 {
  margin-left: 40%;
  *margin-left: 39.969%;
}
.cat .col-offset-3-5 {
  margin-left: 60%;
  *margin-left: 59.969%;
}
.cat .col-offset-4-5 {
  margin-left: 80%;
  *margin-left: 79.969%;
}
.cat .col-offset-1-6 {
  margin-left: 16.6667%;
  *margin-left: 16.6357%;
}
.cat .col-offset-5-6 {
  margin-left: 83.3333%;
  *margin-left: 83.3023%;
}
.cat .col-offset-1-8 {
  margin-left: 12.5%;
  *margin-left: 12.469%;
}
.cat .col-offset-3-8 {
  margin-left: 37.5%;
  *margin-left: 37.469%;
}
.cat .col-offset-5-8 {
  margin-left: 62.5%;
  *margin-left: 62.469%;
}
.cat .col-offset-7-8 {
  margin-left: 87.5%;
  *margin-left: 87.469%;
}
.cat .col-offset-1-12 {
  margin-left: 8.3333%;
  *margin-left: 8.3023%;
}
.cat .col-offset-5-12 {
  margin-left: 41.6667%;
  *margin-left: 41.6357%;
}
.cat .col-offset-7-12 {
  margin-left: 58.3333%;
  *margin-left: 58.3023%;
}
.cat .col-offset-11-12 {
  margin-left: 91.6667%;
  *margin-left: 91.6357%;
}
.cat .col-offset-1-24 {
  margin-left: 4.1667%;
  *margin-left: 4.1357%;
}
.cat .col-offset-5-24 {
  margin-left: 20.8333%;
  *margin-left: 20.8023%;
}
.cat .col-offset-7-24 {
  margin-left: 29.1667%;
  *margin-left: 29.1357%;
}
.cat .col-offset-11-24 {
  margin-left: 45.8333%;
  *margin-left: 45.8023%;
}
.cat .col-offset-13-24 {
  margin-left: 54.1667%;
  *margin-left: 54.1357%;
}
.cat .col-offset-17-24 {
  margin-left: 70.8333%;
  *margin-left: 70.8023%;
}
.cat .col-offset-19-24 {
  margin-left: 79.1667%;
  *margin-left: 79.1357%;
}
.cat .col-offset-23-24 {
  margin-left: 95.8333%;
  *margin-left: 95.8023%;
}
@media screen and (min-width: 35.5em) {
  .cat .col-sm-1,
  .cat .col-sm-1-1,
  .cat .col-sm-1-2,
  .cat .col-sm-1-3,
  .cat .col-sm-2-3,
  .cat .col-sm-1-4,
  .cat .col-sm-3-4,
  .cat .col-sm-1-6,
  .cat .col-sm-5-6,
  .cat .col-sm-1-8,
  .cat .col-sm-3-8,
  .cat .col-sm-5-8,
  .cat .col-sm-7-8,
  .cat .col-sm-1-12,
  .cat .col-sm-5-12,
  .cat .col-sm-7-12,
  .cat .col-sm-11-12,
  .cat .col-sm-1-24,
  .cat .col-sm-2-24,
  .cat .col-sm-3-24,
  .cat .col-sm-4-24,
  .cat .col-sm-5-24,
  .cat .col-sm-6-24,
  .cat .col-sm-7-24,
  .cat .col-sm-8-24,
  .cat .col-sm-9-24,
  .cat .col-sm-10-24,
  .cat .col-sm-11-24,
  .cat .col-sm-12-24,
  .cat .col-sm-13-24,
  .cat .col-sm-14-24,
  .cat .col-sm-15-24,
  .cat .col-sm-16-24,
  .cat .col-sm-17-24,
  .cat .col-sm-18-24,
  .cat .col-sm-19-24,
  .cat .col-sm-20-24,
  .cat .col-sm-21-24,
  .cat .col-sm-22-24,
  .cat .col-sm-23-24,
  .cat .col-sm-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }
  .cat .col-sm-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
  }
  .cat .col-sm-1-12,
  .cat .col-sm-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
  }
  .cat .col-sm-1-8,
  .cat .col-sm-3-24 {
    width: 12.5%;
    *width: 12.469%;
  }
  .cat .col-sm-1-6,
  .cat .col-sm-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
  }
  .cat .col-sm-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
  }
  .cat .col-sm-1-4,
  .cat .col-sm-6-24 {
    width: 25%;
    *width: 24.969%;
  }
  .cat .col-sm-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
  }
  .cat .col-sm-1-3,
  .cat .col-sm-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
  }
  .cat .col-sm-3-8,
  .cat .col-sm-9-24 {
    width: 37.5%;
    *width: 37.469%;
  }
  .cat .col-sm-5-12,
  .cat .col-sm-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
  }
  .cat .col-sm-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
  }
  .cat .col-sm-1-2,
  .cat .col-sm-12-24 {
    width: 50%;
    *width: 49.969%;
  }
  .cat .col-sm-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
  }
  .cat .col-sm-7-12,
  .cat .col-sm-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
  }
  .cat .col-sm-5-8,
  .cat .col-sm-15-24 {
    width: 62.5%;
    *width: 62.469%;
  }
  .cat .col-sm-2-3,
  .cat .col-sm-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
  }
  .cat .col-sm-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
  }
  .cat .col-sm-3-4,
  .cat .col-sm-18-24 {
    width: 75%;
    *width: 74.969%;
  }
  .cat .col-sm-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
  }
  .cat .col-sm-5-6,
  .cat .col-sm-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
  }
  .cat .col-sm-7-8,
  .cat .col-sm-21-24 {
    width: 87.5%;
    *width: 87.469%;
  }
  .cat .col-sm-11-12,
  .cat .col-sm-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
  }
  .cat .col-sm-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
  }
  .cat .col-sm-1,
  .cat .col-sm-1-1,
  .cat .col-sm-24-24 {
    width: 100%;
  }
}
@media screen and (min-width: 48em) {
  .cat .col-md-1,
  .cat .col-md-1-1,
  .cat .col-md-1-2,
  .cat .col-md-1-3,
  .cat .col-md-2-3,
  .cat .col-md-1-4,
  .cat .col-md-3-4,
  .cat .col-md-1-6,
  .cat .col-md-5-6,
  .cat .col-md-1-8,
  .cat .col-md-3-8,
  .cat .col-md-5-8,
  .cat .col-md-7-8,
  .cat .col-md-1-12,
  .cat .col-md-5-12,
  .cat .col-md-7-12,
  .cat .col-md-11-12,
  .cat .col-md-1-24,
  .cat .col-md-2-24,
  .cat .col-md-3-24,
  .cat .col-md-4-24,
  .cat .col-md-5-24,
  .cat .col-md-6-24,
  .cat .col-md-7-24,
  .cat .col-md-8-24,
  .cat .col-md-9-24,
  .cat .col-md-10-24,
  .cat .col-md-11-24,
  .cat .col-md-12-24,
  .cat .col-md-13-24,
  .cat .col-md-14-24,
  .cat .col-md-15-24,
  .cat .col-md-16-24,
  .cat .col-md-17-24,
  .cat .col-md-18-24,
  .cat .col-md-19-24,
  .cat .col-md-20-24,
  .cat .col-md-21-24,
  .cat .col-md-22-24,
  .cat .col-md-23-24,
  .cat .col-md-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }
  .cat .col-md-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
  }
  .cat .col-md-1-12,
  .cat .col-md-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
  }
  .cat .col-md-1-8,
  .cat .col-md-3-24 {
    width: 12.5%;
    *width: 12.469%;
  }
  .cat .col-md-1-6,
  .cat .col-md-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
  }
  .cat .col-md-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
  }
  .cat .col-md-1-4,
  .cat .col-md-6-24 {
    width: 25%;
    *width: 24.969%;
  }
  .cat .col-md-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
  }
  .cat .col-md-1-3,
  .cat .col-md-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
  }
  .cat .col-md-3-8,
  .cat .col-md-9-24 {
    width: 37.5%;
    *width: 37.469%;
  }
  .cat .col-md-5-12,
  .cat .col-md-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
  }
  .cat .col-md-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
  }
  .cat .col-md-1-2,
  .cat .col-md-12-24 {
    width: 50%;
    *width: 49.969%;
  }
  .cat .col-md-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
  }
  .cat .col-md-7-12,
  .cat .col-md-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
  }
  .cat .col-md-5-8,
  .cat .col-md-15-24 {
    width: 62.5%;
    *width: 62.469%;
  }
  .cat .col-md-2-3,
  .cat .col-md-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
  }
  .cat .col-md-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
  }
  .cat .col-md-3-4,
  .cat .col-md-18-24 {
    width: 75%;
    *width: 74.969%;
  }
  .cat .col-md-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
  }
  .cat .col-md-5-6,
  .cat .col-md-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
  }
  .cat .col-md-7-8,
  .cat .col-md-21-24 {
    width: 87.5%;
    *width: 87.469%;
  }
  .cat .col-md-11-12,
  .cat .col-md-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
  }
  .cat .col-md-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
  }
  .cat .col-md-1,
  .cat .col-md-1-1,
  .cat .col-md-24-24 {
    width: 100%;
  }
}
@media screen and (min-width: 64em) {
  .cat .col-lg-1,
  .cat .col-lg-1-1,
  .cat .col-lg-1-2,
  .cat .col-lg-1-3,
  .cat .col-lg-2-3,
  .cat .col-lg-1-4,
  .cat .col-lg-3-4,
  .cat .col-lg-1-6,
  .cat .col-lg-5-6,
  .cat .col-lg-1-8,
  .cat .col-lg-3-8,
  .cat .col-lg-5-8,
  .cat .col-lg-7-8,
  .cat .col-lg-1-12,
  .cat .col-lg-5-12,
  .cat .col-lg-7-12,
  .cat .col-lg-11-12,
  .cat .col-lg-1-24,
  .cat .col-lg-2-24,
  .cat .col-lg-3-24,
  .cat .col-lg-4-24,
  .cat .col-lg-5-24,
  .cat .col-lg-6-24,
  .cat .col-lg-7-24,
  .cat .col-lg-8-24,
  .cat .col-lg-9-24,
  .cat .col-lg-10-24,
  .cat .col-lg-11-24,
  .cat .col-lg-12-24,
  .cat .col-lg-13-24,
  .cat .col-lg-14-24,
  .cat .col-lg-15-24,
  .cat .col-lg-16-24,
  .cat .col-lg-17-24,
  .cat .col-lg-18-24,
  .cat .col-lg-19-24,
  .cat .col-lg-20-24,
  .cat .col-lg-21-24,
  .cat .col-lg-22-24,
  .cat .col-lg-23-24,
  .cat .col-lg-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }
  .cat .col-lg-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
  }
  .cat .col-lg-1-12,
  .cat .col-lg-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
  }
  .cat .col-lg-1-8,
  .cat .col-lg-3-24 {
    width: 12.5%;
    *width: 12.469%;
  }
  .cat .col-lg-1-6,
  .cat .col-lg-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
  }
  .cat .col-lg-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
  }
  .cat .col-lg-1-4,
  .cat .col-lg-6-24 {
    width: 25%;
    *width: 24.969%;
  }
  .cat .col-lg-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
  }
  .cat .col-lg-1-3,
  .cat .col-lg-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
  }
  .cat .col-lg-3-8,
  .cat .col-lg-9-24 {
    width: 37.5%;
    *width: 37.469%;
  }
  .cat .col-lg-5-12,
  .cat .col-lg-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
  }
  .cat .col-lg-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
  }
  .cat .col-lg-1-2,
  .cat .col-lg-12-24 {
    width: 50%;
    *width: 49.969%;
  }
  .cat .col-lg-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
  }
  .cat .col-lg-7-12,
  .cat .col-lg-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
  }
  .cat .col-lg-5-8,
  .cat .col-lg-15-24 {
    width: 62.5%;
    *width: 62.469%;
  }
  .cat .col-lg-2-3,
  .cat .col-lg-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
  }
  .cat .col-lg-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
  }
  .cat .col-lg-3-4,
  .cat .col-lg-18-24 {
    width: 75%;
    *width: 74.969%;
  }
  .cat .col-lg-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
  }
  .cat .col-lg-5-6,
  .cat .col-lg-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
  }
  .cat .col-lg-7-8,
  .cat .col-lg-21-24 {
    width: 87.5%;
    *width: 87.469%;
  }
  .cat .col-lg-11-12,
  .cat .col-lg-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
  }
  .cat .col-lg-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
  }
  .cat .col-lg-1,
  .cat .col-lg-1-1,
  .cat .col-lg-24-24 {
    width: 100%;
  }
}
@media screen and (min-width: 80em) {
  .cat .col-xl-1,
  .cat .col-xl-1-1,
  .cat .col-xl-1-2,
  .cat .col-xl-1-3,
  .cat .col-xl-2-3,
  .cat .col-xl-1-4,
  .cat .col-xl-3-4,
  .cat .col-xl-1-6,
  .cat .col-xl-5-6,
  .cat .col-xl-1-8,
  .cat .col-xl-3-8,
  .cat .col-xl-5-8,
  .cat .col-xl-7-8,
  .cat .col-xl-1-12,
  .cat .col-xl-5-12,
  .cat .col-xl-7-12,
  .cat .col-xl-11-12,
  .cat .col-xl-1-24,
  .cat .col-xl-2-24,
  .cat .col-xl-3-24,
  .cat .col-xl-4-24,
  .cat .col-xl-5-24,
  .cat .col-xl-6-24,
  .cat .col-xl-7-24,
  .cat .col-xl-8-24,
  .cat .col-xl-9-24,
  .cat .col-xl-10-24,
  .cat .col-xl-11-24,
  .cat .col-xl-12-24,
  .cat .col-xl-13-24,
  .cat .col-xl-14-24,
  .cat .col-xl-15-24,
  .cat .col-xl-16-24,
  .cat .col-xl-17-24,
  .cat .col-xl-18-24,
  .cat .col-xl-19-24,
  .cat .col-xl-20-24,
  .cat .col-xl-21-24,
  .cat .col-xl-22-24,
  .cat .col-xl-23-24,
  .cat .col-xl-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }
  .cat .col-xl-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
  }
  .cat .col-xl-1-12,
  .cat .col-xl-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
  }
  .cat .col-xl-1-8,
  .cat .col-xl-3-24 {
    width: 12.5%;
    *width: 12.469%;
  }
  .cat .col-xl-1-6,
  .cat .col-xl-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
  }
  .cat .col-xl-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
  }
  .cat .col-xl-1-4,
  .cat .col-xl-6-24 {
    width: 25%;
    *width: 24.969%;
  }
  .cat .col-xl-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
  }
  .cat .col-xl-1-3,
  .cat .col-xl-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
  }
  .cat .col-xl-3-8,
  .cat .col-xl-9-24 {
    width: 37.5%;
    *width: 37.469%;
  }
  .cat .col-xl-5-12,
  .cat .col-xl-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
  }
  .cat .col-xl-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
  }
  .cat .col-xl-1-2,
  .cat .col-xl-12-24 {
    width: 50%;
    *width: 49.969%;
  }
  .cat .col-xl-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
  }
  .cat .col-xl-7-12,
  .cat .col-xl-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
  }
  .cat .col-xl-5-8,
  .cat .col-xl-15-24 {
    width: 62.5%;
    *width: 62.469%;
  }
  .cat .col-xl-2-3,
  .cat .col-xl-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
  }
  .cat .col-xl-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
  }
  .cat .col-xl-3-4,
  .cat .col-xl-18-24 {
    width: 75%;
    *width: 74.969%;
  }
  .cat .col-xl-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
  }
  .cat .col-xl-5-6,
  .cat .col-xl-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
  }
  .cat .col-xl-7-8,
  .cat .col-xl-21-24 {
    width: 87.5%;
    *width: 87.469%;
  }
  .cat .col-xl-11-12,
  .cat .col-xl-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
  }
  .cat .col-xl-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
  }
  .cat .col-xl-1,
  .cat .col-xl-1-1,
  .cat .col-xl-24-24 {
    width: 100%;
  }
}
.cat .main {
  margin-left: 30px;
  margin-right: 30px;
}
.cat pre {
  font-size: 1.4rem;
  text-align: left;
}
.cat code {
  max-height: 250px;
}
.cat .button {
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
  font-family: "Helvetica Neue", "Helvetica", "WenQuanYi Micro Hei", "Microsoft YaHei", Arial, sans-serif;
  font-size: 100%;
  text-decoration: none;
  -webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.5), 0px 1px 2px rgba(0,0,0,0.15);
  box-shadow: inset 0px 1px 0px rgba(255,255,255,0.5), 0px 1px 2px rgba(0,0,0,0.15);
  background: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -moz-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -o-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -ms-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: linear-gradient(to bottom, #fbfbfb, #e1e1e1);
  border: 1px solid #d4d4d4;
  height: 32px;
  line-height: 30px;
  color: #666;
  margin: 0;
  text-shadow: 0 1px 1px #fff;
}
.cat .button:hover,
.cat .button:focus,
.cat .button:active {
  text-decoration: none;
}
.cat .button:hover,
.cat .button:focus {
  color: #666;
  background: -webkit-linear-gradient(top, #fff, #dcdcdc);
  background: -moz-linear-gradient(top, #fff, #dcdcdc);
  background: -o-linear-gradient(top, #fff, #dcdcdc);
  background: -ms-linear-gradient(top, #fff, #dcdcdc);
  background: linear-gradient(to bottom, #fff, #dcdcdc);
}
.cat .button:active {
  -webkit-box-shadow: inset 0px 1px 3px rgba(0,0,0,0.3), 0px 1px 0px #fff;
  box-shadow: inset 0px 1px 3px rgba(0,0,0,0.3), 0px 1px 0px #fff;
  text-shadow: 0px 1px 0px rgba(255,255,255,0.4);
  background: #eee;
  color: #bbb;
}
.cat .button:focus {
  outline: none;
}
.cat .button input,
.cat .button button {
  height: 34px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.cat .disabled:hover,
.cat .disabled:focus,
.cat .disabled:active,
.cat .disabled input,
.cat .disabled button {
  -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  background: #eee;
  border: 1px solid #ddd;
  text-shadow: 0 1px 1px #fff;
  color: #ccc;
  cursor: not-allowed;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.cat .button-wrap {
  background: -webkit-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: -moz-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: -o-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: -ms-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: linear-gradient(to bottom, #e3e3e3, #f2f2f2);
  -webkit-border-radius: 200px;
  border-radius: 200px;
  -webkit-box-shadow: inset 0px 1px 3px rgba(0,0,0,0.04);
  box-shadow: inset 0px 1px 3px rgba(0,0,0,0.04);
  padding: 10px;
  display: inline-block;
}
.cat .button-flat {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  -ms-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #eee;
  border: none;
  text-shadow: none;
}
.cat .button-flat:hover,
.cat .button-flat:focus {
  background: #fbfbfb;
}
.cat .button-flat:active,
.cat .button-flat transition-duration 0s,
.cat .button-flat background #eee,
.cat .button-flat color #bbb,
.cat .button-flat .disabled {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.cat .button-border {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #666;
  border: 2px solid #666;
  background: none;
  text-shadow: none;
}
.cat .button-border:hover,
.cat .button-border:focus {
  background: none;
  color: #808080;
  border: 2px solid #808080;
}
.cat .button-border:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -ms-transition-duration: 0s;
  transition-duration: 0s;
  background: none;
  color: #4d4d4d;
  border: 2px solid #4d4d4d;
}
.cat .button-border:active .disabled {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.cat .button-pill {
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.cat .button-circle {
  -webkit-border-radius: 240px;
  border-radius: 240px;
  -webkit-box-shadow: inset 0px 1px 1px rgba(255,255,255,0.5), 0px 1px 2px rgba(0,0,0,0.2);
  box-shadow: inset 0px 1px 1px rgba(255,255,255,0.5), 0px 1px 2px rgba(0,0,0,0.2);
  width: 120px;
  line-height: 120px;
  height: 120px;
  padding: 0px;
  border-width: 4px;
}
.cat .button-blue {
  background: -webkit-linear-gradient(top, #39a1f4, #0d8aee);
  background: -moz-linear-gradient(top, #39a1f4, #0d8aee);
  background: -o-linear-gradient(top, #39a1f4, #0d8aee);
  background: -ms-linear-gradient(top, #39a1f4, #0d8aee);
  background: linear-gradient(to bottom, #39a1f4, #0d8aee);
  background-color: #2196f3;
  border-color: #0c7cd5;
  color: #fff;
  text-shadow: 0 -1px 1px rgba(6,68,117,0.35);
}
.cat .button-blue:hover,
.cat .button-blue:focus {
  background-color: #2196f3;
  color: #fff;
  background: -webkit-linear-gradient(top, #51adf6, #0d8aee);
  background: -moz-linear-gradient(top, #51adf6, #0d8aee);
  background: -o-linear-gradient(top, #51adf6, #0d8aee);
  background: -ms-linear-gradient(top, #51adf6, #0d8aee);
  background: linear-gradient(to bottom, #51adf6, #0d8aee);
}
.cat .button-blue:active {
  background: #3893dc;
  color: #0960a5;
}
.cat .button-border-blue {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #2196f3;
  border: 2px solid #2196f3;
  background: none;
  text-shadow: none;
}
.cat .button-border-blue:hover,
.cat .button-border-blue:focus {
  background: none;
  color: #51adf6;
  border: 2px solid #51adf6;
}
.cat .button-border-blue:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -ms-transition-duration: 0s;
  transition-duration: 0s;
  background: none;
  color: #0c7cd5;
  border: 2px solid #0c7cd5;
}
.cat .button-border-blue .disabled {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.cat .button-flat-blue {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  -ms-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #2196f3;
  color: #fff;
  text-shadow: none;
  border: none;
}
.cat .button-flat-blue:hover,
.cat .button-flat-blue:focus {
  color: #fff;
  background: #39a1f4;
}
.cat .button-flat-blue:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -ms-transition-duration: 0s;
  transition-duration: 0s;
  background: #3893dc;
  color: #0a6ebd;
}
.cat .button-flat-blue .disabled {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.cat .button-border-blue {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #2196f3;
  border: 2px solid #2196f3;
  background: none;
  text-shadow: none;
}
.cat .button-border-blue:hover,
.cat .button-border-blue:focus {
  background: none;
  color: #51adf6;
  border: 2px solid #51adf6;
}
.cat .button-border-blue:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -ms-transition-duration: 0s;
  transition-duration: 0s;
  background: none;
  color: #0c7cd5;
  border: 2px solid #0c7cd5;
}
.cat .button-border-blue .disabled {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.cat .button-cyan {
  background: -webkit-linear-gradient(top, #00d3ee, #00a5bb);
  background: -moz-linear-gradient(top, #00d3ee, #00a5bb);
  background: -o-linear-gradient(top, #00d3ee, #00a5bb);
  background: -ms-linear-gradient(top, #00d3ee, #00a5bb);
  background: linear-gradient(to bottom, #00d3ee, #00a5bb);
  background-color: #00bcd4;
  border-color: #008fa1;
  color: #fff;
  text-shadow: 0 -1px 1px rgba(0,52,59,0.35);
}
.cat .button-cyan:hover,
.cat .button-cyan:focus {
  background-color: #00bcd4;
  color: #fff;
  background: -webkit-linear-gradient(top, #08e3ff, #00a5bb);
  background: -moz-linear-gradient(top, #08e3ff, #00a5bb);
  background: -o-linear-gradient(top, #08e3ff, #00a5bb);
  background: -ms-linear-gradient(top, #08e3ff, #00a5bb);
  background: linear-gradient(to bottom, #08e3ff, #00a5bb);
}
.cat .button-cyan:active {
  background: #15acbf;
  color: #00626e;
}
.cat .button-border-cyan {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #00bcd4;
  border: 2px solid #00bcd4;
  background: none;
  text-shadow: none;
}
.cat .button-border-cyan:hover,
.cat .button-border-cyan:focus {
  background: none;
  color: #08e3ff;
  border: 2px solid #08e3ff;
}
.cat .button-border-cyan:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -ms-transition-duration: 0s;
  transition-duration: 0s;
  background: none;
  color: #008fa1;
  border: 2px solid #008fa1;
}
.cat .button-border-cyan .disabled {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.cat .button-flat-cyan {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  -ms-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #00bcd4;
  color: #fff;
  text-shadow: none;
  border: none;
}
.cat .button-flat-cyan:hover,
.cat .button-flat-cyan:focus {
  color: #fff;
  background: #00d3ee;
}
.cat .button-flat-cyan:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -ms-transition-duration: 0s;
  transition-duration: 0s;
  background: #15acbf;
  color: #007888;
}
.cat .button-flat-cyan .disabled {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.cat .button-border-blue {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #2196f3;
  border: 2px solid #2196f3;
  background: none;
  text-shadow: none;
}
.cat .button-border-blue:hover,
.cat .button-border-blue:focus {
  background: none;
  color: #51adf6;
  border: 2px solid #51adf6;
}
.cat .button-border-blue:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -ms-transition-duration: 0s;
  transition-duration: 0s;
  background: none;
  color: #0c7cd5;
  border: 2px solid #0c7cd5;
}
.cat .button-border-blue .disabled {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.cat .button-jumbo {
  font-size: 22px;
  height: 51.2px;
  line-height: 51.2px;
  padding: 0px 40.96px;
}
.cat .button-large {
  font-size: 16px;
  height: 38.4px;
  line-height: 38.4px;
  padding: 0px 30.72px;
}
.cat .button-large input,
.cat .button-large button {
  height: 40.4px;
}
.cat .button-small {
  font-size: 12px;
  height: 25.6px;
  line-height: 24px;
  padding: 0px 20.48px;
}
.cat .button-small input,
.cat .button-small button {
  height: 27.6px;
}
.cat .button-tiny {
  font-size: 10px;
  height: 22.4px;
  line-height: 22.4px;
  padding: 0px 19.2px;
}
.cat .button-tiny input,
.cat .button-tiny button {
  height: 24.4px;
}
.cat table {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: hide;
  margin: auto;
}
.cat td {
  padding-right: 85px;
  font-size: 14px;
  text-align: left;
  vertical-align: bottom;
}
.cat thead td {
  border-bottom: 0;
  color: #a5c8ef;
  vertical-align: top;
}
.cat tbody td {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px dotted #989898;
}
.cat tr td:last-child {
  padding-right: 0px;
}
.cat tbody tr:last-child td {
  border-bottom: 0;
}
.cat .table-bordered {
  border: 1px solid #e2e2e2;
}
.cat .table-non tbody td {
  border-bottom: none;
}
.cat input {
  border-bottom: 2px solid #9e9e9e;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 3rem;
  font-size: 1rem;
  margin: 0 0 15px 0;
  padding: 0;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
}
.cat input:hover,
.cat input:focus {
  border-bottom: 2px solid #26a69a;
  -webkit-box-shadow: 0px 1px 0px #26a69a;
  box-shadow: 0px 1px 0px #26a69a;
}
.cat textarea {
  display: block;
  padding: 0.625em;
  font-size: 1.6rem;
  line-height: 1.2;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.cat .card {
  padding-bottom: 38px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #fff;
}
.cat .card .card-head {
  height: 40px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  margin: auto;
}
.cat .card .card-pic {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  text-align: center;
  background-color: #e2e2e2;
  overflow: hidden;
}
.cat .card .card-pic img {
  width: 270px;
  height: 100px;
}
.cat .card .card-body {
  padding: 30px;
  overflow: hidden;
}
.cat .card .blue {
  background-color: #a5c8ef;
}
.cat .card .green {
  background-color: #85d4cf;
}
.cat .card-small {
  height: 180px;
}
.cat .card-large {
  height: 380px;
}
.cat .nav {
  width: 100%;
  z-index: 1;
}
.cat .nav ul,
.cat .nav li {
  position: relative;
  display: inline-block;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
}
.cat .nav ul {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  min-height: 40px;
}
.cat .nav li {
  font-size: 1.8rem;
  color: #fff;
  font-weight: lighter;
  height: 37px;
  line-height: 37px;
  text-align: center;
  margin: auto;
}
.cat .nav a {
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  font-weight: lighter;
}
.cat .nav .logo {
  margin-top: 10px;
}
.cat .nav .bg-black {
  height: 48px;
  width: 100%;
  background-color: #383838;
  border-bottom: 4px solid #666;
}
.cat .dp-toggle ul {
  display: none;
  position: absolute;
  margin: 0;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #383838;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -o-transition: height 0.5s;
  -ms-transition: height 0.5s;
  transition: height 0.5s;
  height: 0;
  border: 4px solid #666;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.cat .dp-toggle ul li {
  margin-left: 0;
}
.cat .dp-toggle ul li:hover {
  background-color: #282828;
}
.cat .dp-toggle:hover ul {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  height: auto;
}
.cat .fix {
  position: fixed;
  top: 0;
  left: 0;
}
.cat .right ul {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  margin-right: 10px;
}
.cat .right li {
  margin-left: 10px;
}
.cat .upright ul,
.cat .upright li {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
}
.cat .banner {
  overflow: auto;
}
.cat .banner ul {
  padding: 0;
}
.cat .banner li {
  list-style: none;
}
.cat .banner img {
  width: 100%;
}
.cat .banner ul li {
  float: left;
}
.cat .banner ol {
  margin: 0 auto;
  padding: 0;
}
.cat .banner .dots {
  position: relative;
  bottom: 70px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.cat .banner .dots li {
  display: inline-block;
  width: 30px;
  height: 10px;
  margin: 0 4px;
  text-indent: -999em;
  border: 2px solid #fff;
  cursor: pointer;
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  -webkit-transition: background 0.5s, opacity 0.5s;
  -moz-transition: background 0.5s, opacity 0.5s;
  -o-transition: background 0.5s, opacity 0.5s;
  -ms-transition: background 0.5s, opacity 0.5s;
  transition: background 0.5s, opacity 0.5s;
}
.cat .banner .dots li:active {
  background: #fff;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.cat .tab ul,
.cat .tab li {
  position: relative;
  display: inline-block;
}
.cat .tab ul {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  list-style: none;
  padding: 0;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cat .tab li {
  margin-left: 2px;
  margin-right: 2px;
  width: 80px;
  font-size: 1.6rem;
  color: #fff;
  background: #85d4cf;
  font-weight: lighter;
  line-height: 40px;
  text-align: center;
  cursor: default;
}
.cat .tab li:hover {
  background: #a5c8ef;
}
.cat .tab a {
  text-decoration: none;
  white-space: nowrap;
  font-size: 1.8rem;
  color: #fff;
  font-weight: lighter;
}
.cat .tab .active {
  margin-top: 20px;
}
.cat .tag ul,
.cat .tag li {
  position: relative;
  display: inline-block;
}
.cat .tag ul {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  list-style: none;
  width: 79px;
  margin: 0;
  padding: 0;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cat .tag li {
  margin-top: 2px;
  font-size: 1.6rem;
  color: #fff;
  background: #85d4cf;
  font-weight: lighter;
  line-height: 40px;
  text-align: center;
  cursor: default;
}
.cat .tag .title {
  background: #a5c8ef;
}
.cat .tag .active {
  margin-left: 2px;
  margin-right: -2px;
}
.cat .tag a {
  text-decoration: none;
  white-space: nowrap;
  font-weight: lighter;
  color: #fff;
}
