doctype html
html(lang="zh-cn")
    head
        title Admin Index
        link(rel="stylesheet", href="/static/style/cat.css")
        link(rel="stylesheet", href="/static/style/admin.css")
    body.cat
        main.cat-g.main
            .col-md-3-4.col-offset-1-8
                .card
                    .card-head.blue
                        h3 Admin
                    .card-body
                        p= message
                        .cat-g
                            .col-1-3
                                a.button.button-pill.button-border.button-large.no-ani(href="/admin/logout") Logout
                            if !page
                                .col-1-3
                                    a.button.button-pill.button-border.button-large.no-ani(href="/admin/edit/new") New Post
                                .col-1-3
                                    a.button.button-pill.button-border.button-large.no-ani(href="/admin?pages=true") Manage Pages
                            else
                                .col-1-3
                                    a.button.button-pill.button-border.button-large.no-ani(href="/admin/edit/new?page=true") New Page
                                .col-1-3
                                    a.button.button-pill.button-border.button-large.no-ani(href="/admin") Manage Posts
                        div
                            ul#article-list
                            .button.button-pill.button-border.button-large#more Load More
        script(src="/static/script/admin.js")
        if page
            script.
                fucker = function () {
                    loader('page');
                };
                document.getElementById('more').addEventListener('click', fucker, false);
                fucker();
        else
            script.
                fucker = function () {
                    loader('article');
                };
                document.getElementById('more').addEventListener('click', fucker, false);
                fucker();
