doctype html
html(lang="zh-cn")
    head
        title Admin Index
        link(rel="stylesheet", href="/static/style/cat.css")
    body.cat
        main.cat-g.main
            .col-md-1-3.col-offset-1-3
                .card
                    .card-head.blue 
                        h3 Login
                    .card-body
                        form(action="/admin/login", method="post")
                            div
                                input(type="text", placeholder="Account", name="account")
                            div
                                input(type="password", placeholder="Password", name="passwd")
                            p= message
                            div
                                button.button.button-pill.button-border.button-large(type="submit") Login!
