.TimeLine
    transition: height 1.5s
    transition-timing-function: ease-in-out
    transition-delay: 0s
    overflow: hidden
    > header
        position: relative
        padding: 3% 5%
        cursor: pointer
    article
        padding: 0
        margin: 0 10%
        @include clearfix()

    .ArticleMeta
        position: absolute
        right: 0
        bottom: 0
        margin-bottom: 0.6rem
        padding: 0
    .title-list
        float: left
        text-align: left
        padding: 0
        @media #{$mid_scr}
            float: none
    .mark
        position: absolute
        left: 2.5%
    .ArticleList
        > li
            > article
                &::after
                    margin: 0.3rem 0
