$nav_width: 300px
$main_outside: 40px
$main_inside: 20px
$article_width: 800px

.ArticleList
    padding: 0
    margin: 0
article
    position: relative
    width: auto
    max-width: $article_width
    margin-left: auto
    margin-right: auto

.title-single
    position: absolute
    h2
        writing-mode: vertical-rl
        -webkit-writing-mode: vertical-rl

