$banner_height: 380px
$tri_height: 43px
$nav_width: 300px
$btn_width: $nav_width / 4
#HeaderNav
    position: fixed
    width: $nav_width
    overflow: hidden
    top: 0
    left: 0
    bottom: 0
    box-shadow: 1px 0px 7px #999
    background-image: url("/static/img/swirl_pattern.png")
    > ul
        position: absolute
        top: $banner_height - $tri_height
        margin: 0
        padding: 0
        width: 100%
        &:before
            display: block
            position: absolute
            z-index: 1000
            top: 319px
            left: -23px
            content: ''
            height: 1px
            width: 350px
            background-color: #333
            transform: rotate(-30.5deg)
        > li
            list-style: none
            float: left


.banner
    position: absolute
    top: 0
    left: 0
    height: $banner_height
    width: 100%
    background-image: url("/static/img/banner.png")
    > img
        position: absolute
        z-index: 1000
        width: 150px
        height: 150px
        border-radius: 50%
        background-color: #FFF
        box-shadow: 3px 3px 7px #333
        margin: auto
        bottom: $tri_height * 0.5
        left: 0
        right: 0


.NavBtn
    box-sizing: border-box
    position: relative
    float: left
    border-right: 1px solid #333
    @include clearfix()
    div
        position: relative

        height: 321px
        width: $btn_width - 1px
        margin-top: $tri_height
        text-align: center
        background-color: #FFF
        &:hover
            background-color: #eee
            &:before
                border-bottom-color: #eee
            &:after
                border-top-color: #eee
        >img
            position: absolute
            margin: auto
            top: 0
            bottom: 0
            left: 0
            right: 0
        &:before, &:after
            position: absolute
            width: 0
            height: 0
            content: ''
        &:before
            top: -43px
            left: 0
            border-bottom: 43px solid #fff
            border-left: ($btn_width - 1px) solid transparent
        &:after
            bottom: -43px
            left: 0
            border-top: 43px solid #fff
            border-right: ($btn_width - 1px) solid transparent



@for $i from 1 through 4
    #HeaderNav > ul > li:nth-child(#{$i}) > .NavBtn
        top: -44px * ($i - 1)

