<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>Alpha</title>
    <link rel="stylesheet" href="/static/main/style/typo.css">
    <link rel="stylesheet" href="/static/main/style/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
    <script src="/static/main/script/react.js"></script>
    <script src="/static/main/script/ReactRouter.min.js"></script>
    <script src="/static/main/script/main.js"></script>
</body>
</html>
