<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" >
    <title>Alpha</title>
    <link rel="stylesheet" href="/static/style/typo.css">
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="stylesheet" href="/static/style/github-gist.css">
    <!-- <link rel="stylesheet" href="https://dn-hcyue.qbox.me/css/font-awesome.min.css"> -->
    <script src="/static/script/highlight.pack.js"></script>
    <script>var duoshuoQuery = {short_name:"hcyueme"};</script>
    <script src="https://static.duoshuo.com/embed.js"></script>
</head>
<body>
    <script src="/static/script/react.js"></script>
    <script src="/static/script/ReactRouter.min.js"></script>
    <script src="/static/script/main.js"></script>
</body>
</html>
